@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    @apply bg-white 
           border 
           border-gray-200 
           rounded-2xl 
           px-4 
           py-3 
           w-full 
           text-gray-700
           placeholder-gray-400
           focus:outline-none
           focus:border-green-700
           focus:ring-1
           focus:ring-green-700
           disabled:bg-gray-50
           disabled:text-gray-700
           disabled:border-gray-200;
}

.react-datepicker__day--today{
    background-color: #157f3dad !important;
    color: white !important;
    border-radius: 50% !important;
}

.react-datepicker__header {
    border-bottom: 0px !important;
}

.react-datepicker__day--selected {
    background-color: #157f3d !important;
    color: white !important;
    border-radius: 50% !important;
}

.react-datepicker__header {
    background-color: #fff !important;
    border-bottom: 0px;
}

.react-datepicker {
    background-color: white !important;
    padding: 1rem !important;
    border-radius: 1rem !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
    border-width: 1px !important;
    border-color: rgb(229 231 235) !important;
}

.react-datepicker__triangle {
    display: none !important;
}

.react-datepicker__day-name{
    font-weight: bold !important;
}

.react-datepicker__month-select{
    border: 0px !important;
}

.react-datepicker__month-select:focus{
    outline: 0px !important;
    box-shadow: none !important;
}

.react-datepicker__year-select{
    border: 0px !important;
}

.react-datepicker__year-select:focus{
    outline: 0px !important;
    box-shadow: none !important;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
    display: none !important;
}

.react-datepicker__current-month--hasYearDropdown,
.react-datepicker__current-month--hasMonthDropdown {
    display: none !important;
}

.react-datepicker__month-dropdown-container--select,
.react-datepicker__year-dropdown-container--select {
    margin: 0px !important;
}

@media (max-width: 768px) {
    .react-datepicker-wrapper {
        width: 100% !important;
    }
}
